USE [master]
GO
/****** Object:  Database [NorthwindDataMart]    Script Date: 21/5/2023 21:37:25 ******/
CREATE DATABASE [NorthwindDataMart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NorthwindDataMart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NorthwindDataMart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NorthwindDataMart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NorthwindDataMart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NorthwindDataMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NorthwindDataMart]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[informe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[productoID] [int] NOT NULL,
	[clienteID] [int] NOT NULL,
	[empleadoID] [int] NOT NULL,
	[tiempoID] [int] NOT NULL,
	[proveedorID] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompania] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 21/5/2023 21:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NOT NULL,
	[trimestre] [int] NOT NULL,
	[mes] [varchar](20) NOT NULL,
	[dia] [int] NOT NULL,
 CONSTRAINT [PK_Tiempo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (1, N'Alejandra Camino', N'Madrid', N'Spain')
INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (2, N'Alexander Feuer', N'Leipzig', N'Germany')
INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (3, N'Ana Trujillo', N'México D.F.', N'Mexico')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (1, N'Buchanan', N'2')
INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (2, N'Callahan', N'2')
INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (3, N'Davolio', N'2')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[Orden] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (50, 71, 1, 1, 3, 168, 12)
INSERT [dbo].[Orden] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (61, 71, 1, 1, 13, 98, 10)
INSERT [dbo].[Orden] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (41, 71, 1, 1, 7, 174, 5)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (1, N'Alice Mutton', N'Meat/Poultry')
INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (2, N'Aniseed Syrup', N'Condiments')
INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (3, N'Boston Crab Meat', N'Seafood')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (1, N'Aux joyeux ecclésiastiques', N'France')
INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (2, N'Bigfoot Breweries', N'USA')
INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (3, N'Cooperativa de Quesos ''Las Cabras''', N'Spain')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Tiempo] ON 

INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (1, CAST(N'1996-07-04' AS Date), 1996, 3, N'7', 4)
INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (2, CAST(N'1996-07-05' AS Date), 1996, 3, N'7', 5)
INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (3, CAST(N'1996-07-08' AS Date), 1996, 3, N'7', 8)
GO
SET IDENTITY_INSERT [dbo].[Tiempo] OFF
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Cliente] FOREIGN KEY([clienteID])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Cliente]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Empleado] FOREIGN KEY([empleadoID])
REFERENCES [dbo].[Empleado] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Empleado]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Producto] FOREIGN KEY([productoID])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Producto]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Proveedor] FOREIGN KEY([proveedorID])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Proveedor]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Tiempo] FOREIGN KEY([tiempoID])
REFERENCES [dbo].[Tiempo] ([id])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Tiempo]
GO
USE [master]
GO
